# CampoTech API - OpenAPI 3.1 Specification
# Complete API specification for Field Service Management platform

openapi: 3.1.0

info:
  title: CampoTech API
  description: |
    # CampoTech Field Service Management API
    
    Complete REST API for managing field service operations in Argentina.
    
    ## Features
    - Customer management with CUIT validation
    - Job scheduling and tracking
    - AFIP electronic invoicing (Factura Electrónica)
    - Mercado Pago payment processing
    - WhatsApp communication
    - Voice AI message processing
    
    ## Authentication
    All endpoints require Bearer token authentication except `/auth/*` endpoints.
    
    ## Rate Limits
    - Standard: 100 requests/minute per organization
    - Auth endpoints: 10 requests/minute per IP
    - WhatsApp: 50 messages/minute per organization
    - Voice processing: 20 requests/minute per organization
    
    ## Pagination
    List endpoints support cursor-based pagination with `limit` and `cursor` parameters.
    
    ## Error Handling
    All errors follow RFC 7807 Problem Details format.
    
  version: 1.0.0
  contact:
    name: CampoTech API Support
    email: api@campotech.com
    url: https://docs.campotech.com
  license:
    name: Proprietary
    url: https://campotech.com/terms

servers:
  - url: https://api.campotech.com/v1
    description: Production server
  - url: https://api.staging.campotech.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: Auth
    description: Authentication and session management
  - name: Organization
    description: Organization settings and integrations
  - name: Customers
    description: Customer management
  - name: Jobs
    description: Job scheduling and management
  - name: Invoices
    description: AFIP electronic invoicing
  - name: Payments
    description: Mercado Pago payment processing
  - name: WhatsApp
    description: WhatsApp messaging
  - name: Voice
    description: Voice AI processing
  - name: Admin
    description: Administrative operations

# ============================================================================
# SECURITY SCHEMES
# ============================================================================

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from `/auth/otp/verify`.
        Token contains: `sub` (user_id), `org_id`, `role`, `exp`.
        Access tokens expire in 15 minutes.
        Use refresh token to obtain new access token.

  # ==========================================================================
  # HEADERS
  # ==========================================================================
  
  headers:
    X-Request-Id:
      description: Unique request identifier for tracing
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"
    
    X-RateLimit-Limit:
      description: Maximum requests allowed per window
      schema:
        type: integer
      example: 100
    
    X-RateLimit-Remaining:
      description: Remaining requests in current window
      schema:
        type: integer
      example: 95
    
    X-RateLimit-Reset:
      description: Unix timestamp when rate limit resets
      schema:
        type: integer
      example: 1701234567

  # ==========================================================================
  # PARAMETERS
  # ==========================================================================
  
  parameters:
    # Path Parameters
    CustomerId:
      name: customerId
      in: path
      required: true
      description: Customer UUID
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"
    
    JobId:
      name: jobId
      in: path
      required: true
      description: Job UUID
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"
    
    InvoiceId:
      name: invoiceId
      in: path
      required: true
      description: Invoice UUID
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"
    
    PaymentId:
      name: paymentId
      in: path
      required: true
      description: Payment UUID
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"
    
    MessageId:
      name: messageId
      in: path
      required: true
      description: WhatsApp message UUID
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"
    
    # Query Parameters - Pagination
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return (1-100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
    
    Cursor:
      name: cursor
      in: query
      description: Pagination cursor from previous response
      schema:
        type: string
      example: "eyJpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9"
    
    # Query Parameters - Filtering
    Status:
      name: status
      in: query
      description: Filter by status
      schema:
        type: string
    
    DateFrom:
      name: dateFrom
      in: query
      description: Filter from date (inclusive)
      schema:
        type: string
        format: date
      example: "2025-01-01"
    
    DateTo:
      name: dateTo
      in: query
      description: Filter to date (inclusive)
      schema:
        type: string
        format: date
      example: "2025-12-31"
    
    Search:
      name: search
      in: query
      description: Search query string
      schema:
        type: string
        minLength: 2
        maxLength: 100
      example: "Juan"
    
    # Headers
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      description: Unique key to ensure idempotent requests
      schema:
        type: string
        minLength: 16
        maxLength: 64
      example: "req_abc123def456"

  # ==========================================================================
  # SCHEMAS - Common
  # ==========================================================================
  
  schemas:
    # --------------------------------------------------------------------------
    # Common Response Wrappers
    # --------------------------------------------------------------------------
    
    SuccessResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    
    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          const: false
        error:
          $ref: '#/components/schemas/Error'
    
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: "CUSTOMER_001"
        message:
          type: string
          description: Human-readable error message
          example: "Invalid CUIT format"
        details:
          type: object
          description: Additional error details
          additionalProperties: true
        field:
          type: string
          description: Field that caused the error (for validation errors)
          example: "cuit"
    
    ResponseMeta:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        duration:
          type: integer
          description: Request duration in milliseconds
    
    PaginationMeta:
      type: object
      required:
        - limit
        - hasMore
      properties:
        limit:
          type: integer
          example: 20
        cursor:
          type: string
          nullable: true
          description: Cursor for next page (null if no more pages)
        hasMore:
          type: boolean
        total:
          type: integer
          description: Total count (only included if countTotal=true)
    
    # --------------------------------------------------------------------------
    # Enums
    # --------------------------------------------------------------------------
    
    IvaCondition:
      type: string
      enum:
        - responsable_inscripto
        - monotributista
        - exento
        - consumidor_final
      description: |
        Argentine IVA tax condition:
        - `responsable_inscripto`: Registered VAT taxpayer
        - `monotributista`: Simplified tax regime
        - `exento`: VAT exempt
        - `consumidor_final`: Final consumer
    
    UserRole:
      type: string
      enum:
        - owner
        - admin
        - dispatcher
        - technician
        - accountant
      description: |
        User role in organization:
        - `owner`: Full access including billing
        - `admin`: Operational access, no billing
        - `dispatcher`: Jobs & customers, no finances
        - `technician`: Own jobs only
        - `accountant`: Invoices & payments only
    
    DocType:
      type: string
      enum:
        - dni
        - cuit
        - cuil
        - pasaporte
      description: Argentine document type
    
    JobStatus:
      type: string
      enum:
        - pending
        - scheduled
        - en_camino
        - working
        - completed
        - cancelled
    
    JobPriority:
      type: string
      enum:
        - low
        - normal
        - high
        - urgent
    
    JobType:
      type: string
      enum:
        - plomeria
        - electricidad
        - aire_acondicionado
        - gas
        - calefaccion
        - general
    
    JobSource:
      type: string
      enum:
        - manual
        - whatsapp
        - voice
        - recurring
    
    InvoiceType:
      type: string
      enum:
        - A
        - B
        - C
      description: |
        AFIP invoice type:
        - `A`: Between registered IVA taxpayers
        - `B`: To final consumers or exempt
        - `C`: From monotributista
    
    InvoiceStatus:
      type: string
      enum:
        - draft
        - pending_cae
        - issued
        - sent
        - paid
        - partial
        - overdue
        - cancelled
        - refunded
    
    PaymentStatus:
      type: string
      enum:
        - pending
        - processing
        - approved
        - rejected
        - cancelled
        - refunded
        - partial_refund
        - in_dispute
        - chargedback
    
    PaymentMethod:
      type: string
      enum:
        - credit_card
        - debit_card
        - account_money
        - cash
        - bank_transfer
        - check
    
    MessageDirection:
      type: string
      enum:
        - inbound
        - outbound
    
    MessageType:
      type: string
      enum:
        - text
        - voice
        - image
        - document
        - template
        - interactive
    
    MessageStatus:
      type: string
      enum:
        - received
        - queued
        - sent
        - delivered
        - read
        - failed
        - fallback_sms
        - undeliverable
    
    VoiceStatus:
      type: string
      enum:
        - pending
        - transcribing
        - extracting
        - completed
        - needs_review
        - reviewed
        - failed
    
    # --------------------------------------------------------------------------
    # Base Entities
    # --------------------------------------------------------------------------
    
    Timestamps:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    Address:
      type: object
      properties:
        address:
          type: string
          maxLength: 500
          example: "Av. Corrientes 1234"
        addressExtra:
          type: string
          maxLength: 100
          example: "Piso 5, Depto B"
        neighborhood:
          type: string
          maxLength: 100
          example: "Palermo"
        city:
          type: string
          maxLength: 100
          default: "Buenos Aires"
        province:
          type: string
          maxLength: 100
          default: "CABA"
        postalCode:
          type: string
          maxLength: 10
          example: "C1043"
        lat:
          type: number
          format: double
          minimum: -90
          maximum: 90
          example: -34.603722
        lng:
          type: number
          format: double
          minimum: -180
          maximum: 180
          example: -58.381592

    # --------------------------------------------------------------------------
    # Auth Schemas
    # --------------------------------------------------------------------------
    
    SendOtpRequest:
      type: object
      required:
        - phone
      properties:
        phone:
          type: string
          pattern: '^\+54[0-9]{10,11}$'
          description: Argentine phone number with country code
          example: "+5491112345678"
    
    SendOtpResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            message:
              type: string
              example: "OTP sent successfully"
            expiresIn:
              type: integer
              description: OTP expiration in seconds
              example: 300
            retryAfter:
              type: integer
              description: Seconds before retry allowed
              example: 60
    
    VerifyOtpRequest:
      type: object
      required:
        - phone
        - code
      properties:
        phone:
          type: string
          pattern: '^\+54[0-9]{10,11}$'
          example: "+5491112345678"
        code:
          type: string
          pattern: '^[0-9]{6}$'
          description: 6-digit OTP code
          example: "123456"
    
    VerifyOtpResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          required:
            - accessToken
            - refreshToken
            - user
          properties:
            accessToken:
              type: string
              description: JWT access token (15 min expiry)
            refreshToken:
              type: string
              description: Refresh token (7 day expiry)
            expiresIn:
              type: integer
              description: Access token expiry in seconds
              example: 900
            user:
              $ref: '#/components/schemas/User'
            isNewUser:
              type: boolean
              description: True if this is a new registration
    
    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
    
    RefreshTokenResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            accessToken:
              type: string
            refreshToken:
              type: string
            expiresIn:
              type: integer
    
    # --------------------------------------------------------------------------
    # User Schemas
    # --------------------------------------------------------------------------
    
    User:
      type: object
      required:
        - id
        - orgId
        - role
        - fullName
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        role:
          $ref: '#/components/schemas/UserRole'
        fullName:
          type: string
          example: "Juan González"
        phone:
          type: string
          example: "+5491112345678"
        email:
          type: string
          format: email
        avatarUrl:
          type: string
          format: uri
        isActive:
          type: boolean
        lastSeenAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    
    UserMe:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            organization:
              $ref: '#/components/schemas/OrganizationSummary'
            permissions:
              type: array
              items:
                type: string
              example: ["jobs.read", "jobs.write", "customers.read"]
    
    # --------------------------------------------------------------------------
    # Organization Schemas
    # --------------------------------------------------------------------------
    
    Organization:
      type: object
      required:
        - id
        - name
        - cuit
        - ivaCondition
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Plomería González"
        cuit:
          type: string
          pattern: '^\d{2}-\d{8}-\d$'
          example: "20-12345678-9"
        ivaCondition:
          $ref: '#/components/schemas/IvaCondition'
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        province:
          type: string
        afipConfigured:
          type: boolean
          description: Whether AFIP certificate is uploaded
        afipPuntoVenta:
          type: integer
        afipCertExpiry:
          type: string
          format: date
        mpConnected:
          type: boolean
          description: Whether Mercado Pago is connected
        mpConnectedAt:
          type: string
          format: date-time
        whatsappConnected:
          type: boolean
          description: Whether WhatsApp is configured
        whatsappVerified:
          type: boolean
        settings:
          $ref: '#/components/schemas/OrganizationSettings'
        plan:
          type: string
          example: "pro"
        planExpiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    
    OrganizationSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        cuit:
          type: string
        afipConfigured:
          type: boolean
        mpConnected:
          type: boolean
        whatsappConnected:
          type: boolean
    
    OrganizationSettings:
      type: object
      properties:
        uiMode:
          type: string
          enum: [simple, advanced]
          default: simple
        autoInvoiceOnComplete:
          type: boolean
          default: true
        autoSendWhatsapp:
          type: boolean
          default: true
        voiceAutoCreateThreshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.7
        defaultPaymentMethod:
          type: string
          enum: [mercadopago, cash, transfer]
          default: mercadopago
        defaultDueDays:
          type: integer
          minimum: 0
          maximum: 90
          default: 15
        timezone:
          type: string
          default: "America/Argentina/Buenos_Aires"
    
    UpdateOrganizationRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 200
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: string
        city:
          type: string
        province:
          type: string
        settings:
          $ref: '#/components/schemas/OrganizationSettings'
    
    UploadAfipCertRequest:
      type: object
      required:
        - certificate
        - privateKey
        - puntoVenta
      properties:
        certificate:
          type: string
          format: byte
          description: Base64 encoded .crt file
        privateKey:
          type: string
          format: byte
          description: Base64 encoded .key file
        passphrase:
          type: string
          description: Private key passphrase (if encrypted)
        puntoVenta:
          type: integer
          minimum: 1
          maximum: 99999
          description: AFIP punto de venta number
    
    AfipStatus:
      type: object
      properties:
        configured:
          type: boolean
        puntoVenta:
          type: integer
        certSubject:
          type: string
        certExpiry:
          type: string
          format: date
        certDaysRemaining:
          type: integer
        homologated:
          type: boolean
        lastInvoiceA:
          type: integer
        lastInvoiceB:
          type: integer
        lastInvoiceC:
          type: integer
        serviceStatus:
          type: string
          enum: [online, degraded, offline]
    
    MpConnectResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            authUrl:
              type: string
              format: uri
              description: URL to redirect user for MP authorization
    
    # --------------------------------------------------------------------------
    # Customer Schemas
    # --------------------------------------------------------------------------
    
    Customer:
      type: object
      required:
        - id
        - orgId
        - name
        - phone
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        name:
          type: string
          example: "María López"
        phone:
          type: string
          example: "+5491155555555"
        email:
          type: string
          format: email
        docType:
          $ref: '#/components/schemas/DocType'
        docNumber:
          type: string
          example: "30123456"
        ivaCondition:
          $ref: '#/components/schemas/IvaCondition'
        address:
          type: string
        addressExtra:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        province:
          type: string
        postalCode:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        hasWhatsapp:
          type: boolean
        lastMessageAt:
          type: string
          format: date-time
        notes:
          type: string
        tags:
          type: array
          items:
            type: string
        source:
          $ref: '#/components/schemas/JobSource'
        jobCount:
          type: integer
          description: Total jobs for this customer
        totalRevenue:
          type: number
          format: double
          description: Total revenue from this customer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    CustomerSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
        neighborhood:
          type: string
    
    CreateCustomerRequest:
      type: object
      required:
        - name
        - phone
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 200
        phone:
          type: string
          pattern: '^\+?[0-9]{10,15}$'
        email:
          type: string
          format: email
        docType:
          $ref: '#/components/schemas/DocType'
        docNumber:
          type: string
          maxLength: 20
        ivaCondition:
          $ref: '#/components/schemas/IvaCondition'
        address:
          type: string
          maxLength: 500
        addressExtra:
          type: string
          maxLength: 100
        neighborhood:
          type: string
          maxLength: 100
        city:
          type: string
          maxLength: 100
        province:
          type: string
          maxLength: 100
        postalCode:
          type: string
          maxLength: 10
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        notes:
          type: string
          maxLength: 2000
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 20
    
    UpdateCustomerRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 200
        phone:
          type: string
          pattern: '^\+?[0-9]{10,15}$'
        email:
          type: string
          format: email
        docType:
          $ref: '#/components/schemas/DocType'
        docNumber:
          type: string
        ivaCondition:
          $ref: '#/components/schemas/IvaCondition'
        address:
          type: string
        addressExtra:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        province:
          type: string
        postalCode:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        notes:
          type: string
        tags:
          type: array
          items:
            type: string
    
    CustomerList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    ValidateCuitRequest:
      type: object
      required:
        - cuit
      properties:
        cuit:
          type: string
          pattern: '^\d{2}-?\d{8}-?\d$'
          example: "20-12345678-9"
    
    ValidateCuitResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            valid:
              type: boolean
            cuit:
              type: string
              description: Formatted CUIT
            razonSocial:
              type: string
              description: Company name from AFIP
            ivaCondition:
              $ref: '#/components/schemas/IvaCondition'
            domicilioFiscal:
              type: string
            isActive:
              type: boolean
            afipAvailable:
              type: boolean
              description: Whether AFIP padron was reachable

    # --------------------------------------------------------------------------
    # Price Book Schemas
    # --------------------------------------------------------------------------
    
    PriceBookItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [mano_de_obra, materiales, consumibles, viatico]
        jobType:
          $ref: '#/components/schemas/JobType'
        basePrice:
          type: number
          format: double
        unit:
          type: string
        taxRate:
          type: number
          format: double
        afipCode:
          type: string
        regionPrices:
          type: object
          additionalProperties:
            type: number
        complexityMultipliers:
          type: object
          properties:
            simple:
              type: number
            standard:
              type: number
            complex:
              type: number
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    CreatePriceBookItemRequest:
      type: object
      required:
        - name
        - category
        - basePrice
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        category:
          type: string
          enum: [mano_de_obra, materiales, consumibles, viatico]
        jobType:
          $ref: '#/components/schemas/JobType'
        basePrice:
          type: number
          format: double
          minimum: 0
        unit:
          type: string
          maxLength: 50
          default: "unidad"
        taxRate:
          type: number
          format: double
          minimum: 0
          maximum: 100
          default: 21
        afipCode:
          type: string
          maxLength: 20
        regionPrices:
          type: object
          additionalProperties:
            type: number
        complexityMultipliers:
          type: object
          properties:
            simple:
              type: number
              minimum: 0.1
              maximum: 10
            standard:
              type: number
              minimum: 0.1
              maximum: 10
            complex:
              type: number
              minimum: 0.1
              maximum: 10
    
    UpdatePriceBookItemRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 200
        description:
          type: string
        category:
          type: string
          enum: [mano_de_obra, materiales, consumibles, viatico]
        jobType:
          $ref: '#/components/schemas/JobType'
        basePrice:
          type: number
          format: double
          minimum: 0
        unit:
          type: string
        taxRate:
          type: number
          format: double
        afipCode:
          type: string
        regionPrices:
          type: object
          additionalProperties:
            type: number
        complexityMultipliers:
          type: object
        isActive:
          type: boolean

    # --------------------------------------------------------------------------
    # Job Schemas
    # --------------------------------------------------------------------------
    
    Job:
      type: object
      required:
        - id
        - orgId
        - title
        - status
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        customer:
          $ref: '#/components/schemas/CustomerSummary'
        assignedTo:
          type: string
          format: uuid
        assignee:
          $ref: '#/components/schemas/UserSummary'
        invoiceId:
          type: string
          format: uuid
        title:
          type: string
          example: "Pérdida en baño"
        description:
          type: string
        jobType:
          $ref: '#/components/schemas/JobType'
        priority:
          $ref: '#/components/schemas/JobPriority'
        status:
          $ref: '#/components/schemas/JobStatus'
        statusChangedAt:
          type: string
          format: date-time
        scheduledDate:
          type: string
          format: date
        scheduledTimeStart:
          type: string
          format: time
          example: "09:00:00"
        scheduledTimeEnd:
          type: string
          format: time
          example: "11:00:00"
        estimatedDuration:
          type: integer
          description: Estimated duration in minutes
        actualStart:
          type: string
          format: date-time
        actualEnd:
          type: string
          format: date-time
        address:
          type: string
        addressExtra:
          type: string
        neighborhood:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        photos:
          type: array
          items:
            $ref: '#/components/schemas/JobPhoto'
        notes:
          type: string
        internalNotes:
          type: string
        signatureUrl:
          type: string
          format: uri
        source:
          $ref: '#/components/schemas/JobSource'
        sourceMessageId:
          type: string
          format: uuid
        syncStatus:
          type: string
          enum: [synced, pending, conflict]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    JobSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
        scheduledDate:
          type: string
          format: date
        customerName:
          type: string
    
    UserSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
    
    JobPhoto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        photoUrl:
          type: string
          format: uri
        thumbnailUrl:
          type: string
          format: uri
        photoType:
          type: string
          enum: [before, during, after, signature, document]
        takenAt:
          type: string
          format: date-time
    
    CreateJobRequest:
      type: object
      required:
        - title
      properties:
        customerId:
          type: string
          format: uuid
        assignedTo:
          type: string
          format: uuid
        title:
          type: string
          minLength: 3
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        jobType:
          $ref: '#/components/schemas/JobType'
        priority:
          $ref: '#/components/schemas/JobPriority'
        scheduledDate:
          type: string
          format: date
        scheduledTimeStart:
          type: string
          format: time
        scheduledTimeEnd:
          type: string
          format: time
        estimatedDuration:
          type: integer
          minimum: 15
          maximum: 1440
        address:
          type: string
          maxLength: 500
        addressExtra:
          type: string
          maxLength: 100
        neighborhood:
          type: string
          maxLength: 100
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        notes:
          type: string
          maxLength: 2000
        internalNotes:
          type: string
          maxLength: 2000
    
    UpdateJobRequest:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
        assignedTo:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
          minLength: 3
          maxLength: 200
        description:
          type: string
        jobType:
          $ref: '#/components/schemas/JobType'
        priority:
          $ref: '#/components/schemas/JobPriority'
        scheduledDate:
          type: string
          format: date
        scheduledTimeStart:
          type: string
          format: time
        scheduledTimeEnd:
          type: string
          format: time
        estimatedDuration:
          type: integer
        address:
          type: string
        addressExtra:
          type: string
        neighborhood:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        notes:
          type: string
        internalNotes:
          type: string
    
    UpdateJobStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          $ref: '#/components/schemas/JobStatus'
        notes:
          type: string
          maxLength: 500
        lat:
          type: number
          format: double
          description: Current location latitude
        lng:
          type: number
          format: double
          description: Current location longitude
    
    AssignJobRequest:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string
          format: uuid
          description: User ID to assign (null to unassign)
          nullable: true
    
    CompleteJobRequest:
      type: object
      properties:
        photos:
          type: array
          items:
            type: object
            required:
              - data
              - type
            properties:
              data:
                type: string
                format: byte
                description: Base64 encoded image
              type:
                type: string
                enum: [before, during, after]
              takenAt:
                type: string
                format: date-time
          minItems: 1
          maxItems: 20
        signature:
          type: string
          format: byte
          description: Base64 encoded signature image
        notes:
          type: string
          maxLength: 2000
        createInvoice:
          type: boolean
          default: true
          description: Whether to auto-create invoice
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemInput'
          description: Line items for invoice (if createInvoice=true)
    
    JobList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Job'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    JobCalendarResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              jobs:
                type: array
                items:
                  $ref: '#/components/schemas/JobSummary'
              totalJobs:
                type: integer
    
    # --------------------------------------------------------------------------
    # Invoice Schemas
    # --------------------------------------------------------------------------
    
    Invoice:
      type: object
      required:
        - id
        - orgId
        - customerId
        - invoiceType
        - puntoVenta
        - status
        - subtotal
        - taxAmount
        - total
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        customer:
          $ref: '#/components/schemas/CustomerSummary'
        jobId:
          type: string
          format: uuid
        invoiceNumber:
          type: integer
          description: AFIP invoice number (null for drafts)
        invoiceType:
          $ref: '#/components/schemas/InvoiceType'
        puntoVenta:
          type: integer
        cae:
          type: string
          description: AFIP CAE code
        caeExpiry:
          type: string
          format: date
        qrData:
          type: string
          description: QR code data URL
        subtotal:
          type: number
          format: double
          example: 10000.00
        taxAmount:
          type: number
          format: double
          example: 2100.00
        total:
          type: number
          format: double
          example: 12100.00
        currency:
          type: string
          default: "ARS"
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        status:
          $ref: '#/components/schemas/InvoiceStatus'
        afipError:
          type: string
          description: Last AFIP error (if any)
        afipAttempts:
          type: integer
        pdfUrl:
          type: string
          format: uri
        issueDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        paidAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    InvoiceLineItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        priceBookId:
          type: string
          format: uuid
        description:
          type: string
        quantity:
          type: number
          format: double
        unit:
          type: string
        unitPrice:
          type: number
          format: double
        taxRate:
          type: number
          format: double
        subtotal:
          type: number
          format: double
        taxAmount:
          type: number
          format: double
        total:
          type: number
          format: double
    
    InvoiceLineItemInput:
      type: object
      required:
        - description
        - quantity
        - unitPrice
      properties:
        priceBookId:
          type: string
          format: uuid
        description:
          type: string
          minLength: 3
          maxLength: 500
        quantity:
          type: number
          format: double
          minimum: 0.001
        unit:
          type: string
          maxLength: 50
          default: "unidad"
        unitPrice:
          type: number
          format: double
          minimum: 0
        taxRate:
          type: number
          format: double
          minimum: 0
          maximum: 100
          default: 21
    
    CreateInvoiceRequest:
      type: object
      required:
        - customerId
        - lineItems
      properties:
        customerId:
          type: string
          format: uuid
        jobId:
          type: string
          format: uuid
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemInput'
          minItems: 1
          maxItems: 100
        dueDate:
          type: string
          format: date
        notes:
          type: string
          maxLength: 1000
        submitToAfip:
          type: boolean
          default: true
          description: If false, creates as draft
      example:
        customerId: "550e8400-e29b-41d4-a716-446655440000"
        lineItems:
          - description: "Visita técnica"
            quantity: 1
            unitPrice: 5000
            taxRate: 21
          - description: "Reparación canilla"
            quantity: 1
            unitPrice: 8000
            taxRate: 21
        submitToAfip: true
    
    InvoiceList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    RequestCaeResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            status:
              type: string
              enum: [success, queued, failed]
            cae:
              type: string
              description: CAE code (if success)
            caeExpiry:
              type: string
              format: date
            invoiceNumber:
              type: integer
            message:
              type: string
              description: Status message
            queuePosition:
              type: integer
              description: Queue position (if queued)
    
    AfipQueueStatus:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            pending:
              type: integer
            processing:
              type: integer
            failed:
              type: integer
            serviceStatus:
              type: string
              enum: [online, degraded, panic]
            estimatedWait:
              type: integer
              description: Estimated wait time in seconds
    
    # --------------------------------------------------------------------------
    # Payment Schemas
    # --------------------------------------------------------------------------
    
    Payment:
      type: object
      required:
        - id
        - orgId
        - invoiceId
        - amount
        - status
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        invoiceId:
          type: string
          format: uuid
        invoice:
          $ref: '#/components/schemas/InvoiceSummary'
        mpPaymentId:
          type: string
        mpPreferenceId:
          type: string
        amount:
          type: number
          format: double
        refundedAmount:
          type: number
          format: double
        currency:
          type: string
        installments:
          type: integer
        installmentAmount:
          type: number
          format: double
        financeCharge:
          type: number
          format: double
        tea:
          type: number
          format: double
          description: Tasa Efectiva Anual
        cft:
          type: number
          format: double
          description: Costo Financiero Total
        status:
          $ref: '#/components/schemas/PaymentStatus'
        statusDetail:
          type: string
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        cardLastFour:
          type: string
        cardBrand:
          type: string
        payerEmail:
          type: string
        approvedAt:
          type: string
          format: date-time
        refundedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    
    InvoiceSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        invoiceNumber:
          type: integer
        total:
          type: number
          format: double
        customerName:
          type: string
    
    CreatePaymentPreferenceRequest:
      type: object
      required:
        - invoiceId
      properties:
        invoiceId:
          type: string
          format: uuid
        maxInstallments:
          type: integer
          minimum: 1
          maximum: 12
          default: 12
        expirationMinutes:
          type: integer
          minimum: 5
          maximum: 10080
          default: 1440
          description: Payment link expiration in minutes
    
    PaymentPreferenceResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            preferenceId:
              type: string
            paymentUrl:
              type: string
              format: uri
              description: URL to send to customer
            qrCode:
              type: string
              description: Base64 encoded QR code image
            expiresAt:
              type: string
              format: date-time
            installmentOptions:
              type: array
              items:
                $ref: '#/components/schemas/InstallmentOption'
    
    InstallmentOption:
      type: object
      properties:
        installments:
          type: integer
        installmentAmount:
          type: number
          format: double
        totalAmount:
          type: number
          format: double
        tea:
          type: number
          format: double
        cft:
          type: number
          format: double
    
    RefundRequest:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Amount to refund (null for full refund)
        reason:
          type: string
          maxLength: 500
    
    PaymentList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    MpWebhookPayload:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [payment, plan, subscription, chargeback]
        data:
          type: object
          properties:
            id:
              type: string
    
    ReconcileResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            processed:
              type: integer
            created:
              type: integer
            updated:
              type: integer
            errors:
              type: integer
            discrepancies:
              type: array
              items:
                type: object
                properties:
                  paymentId:
                    type: string
                  issue:
                    type: string

    # --------------------------------------------------------------------------
    # WhatsApp Schemas
    # --------------------------------------------------------------------------
    
    WhatsAppMessage:
      type: object
      required:
        - id
        - orgId
        - direction
        - messageType
        - status
      properties:
        id:
          type: string
          format: uuid
        orgId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        customer:
          $ref: '#/components/schemas/CustomerSummary'
        jobId:
          type: string
          format: uuid
        waMessageId:
          type: string
        waConversationId:
          type: string
        direction:
          $ref: '#/components/schemas/MessageDirection'
        messageType:
          $ref: '#/components/schemas/MessageType'
        content:
          type: string
        mediaUrl:
          type: string
          format: uri
        mediaMimeType:
          type: string
        mediaSize:
          type: integer
        templateName:
          type: string
        templateParams:
          type: object
        voiceDuration:
          type: integer
          description: Voice message duration in seconds
        status:
          $ref: '#/components/schemas/MessageStatus'
        errorCode:
          type: string
        errorMessage:
          type: string
        waTimestamp:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        readAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    
    WhatsAppConversation:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
        customer:
          $ref: '#/components/schemas/CustomerSummary'
        lastMessage:
          $ref: '#/components/schemas/WhatsAppMessage'
        unreadCount:
          type: integer
        lastMessageAt:
          type: string
          format: date-time
    
    SendMessageRequest:
      type: object
      required:
        - customerId
      properties:
        customerId:
          type: string
          format: uuid
        jobId:
          type: string
          format: uuid
        templateName:
          type: string
          description: Template name (required for business-initiated)
        templateParams:
          type: array
          items:
            type: string
          description: Template parameter values
        text:
          type: string
          maxLength: 4096
          description: Free text (only for replies within 24h window)
    
    SendMessageResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            messageId:
              type: string
              format: uuid
            waMessageId:
              type: string
            status:
              $ref: '#/components/schemas/MessageStatus'
    
    WhatsAppTemplate:
      type: object
      properties:
        name:
          type: string
        language:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [APPROVED, PENDING, REJECTED]
        components:
          type: array
          items:
            type: object
        parameterCount:
          type: integer
    
    ConversationList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/WhatsAppConversation'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    MessageList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/WhatsAppMessage'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    # --------------------------------------------------------------------------
    # Voice AI Schemas
    # --------------------------------------------------------------------------
    
    VoiceTranscript:
      type: object
      properties:
        id:
          type: string
          format: uuid
        messageId:
          type: string
          format: uuid
        audioUrl:
          type: string
          format: uri
        audioDuration:
          type: integer
        audioQuality:
          type: string
          enum: [clean, noisy, poor]
        transcription:
          type: string
        transcriptionConfidence:
          type: number
          format: double
        extractionData:
          $ref: '#/components/schemas/VoiceExtraction'
        overallConfidence:
          type: number
          format: double
        humanTranscription:
          type: string
        humanExtraction:
          $ref: '#/components/schemas/VoiceExtraction'
        status:
          $ref: '#/components/schemas/VoiceStatus'
        createdJobId:
          type: string
          format: uuid
        autoCreated:
          type: boolean
        reviewedBy:
          type: string
          format: uuid
        reviewedAt:
          type: string
          format: date-time
        processingDurationMs:
          type: integer
        createdAt:
          type: string
          format: date-time
    
    VoiceExtraction:
      type: object
      properties:
        customerName:
          $ref: '#/components/schemas/ExtractedField'
        phone:
          $ref: '#/components/schemas/ExtractedField'
        address:
          $ref: '#/components/schemas/ExtractedField'
        neighborhood:
          $ref: '#/components/schemas/ExtractedField'
        problemDescription:
          $ref: '#/components/schemas/ExtractedField'
        serviceType:
          $ref: '#/components/schemas/ExtractedField'
        urgency:
          $ref: '#/components/schemas/ExtractedField'
        preferredDate:
          $ref: '#/components/schemas/ExtractedField'
        preferredTime:
          $ref: '#/components/schemas/ExtractedField'
    
    ExtractedField:
      type: object
      properties:
        value:
          oneOf:
            - type: string
            - type: number
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
    
    ProcessVoiceRequest:
      type: object
      required:
        - messageId
      properties:
        messageId:
          type: string
          format: uuid
        priority:
          type: string
          enum: [low, normal, high]
          default: normal
    
    ProcessVoiceResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            transcriptId:
              type: string
              format: uuid
            status:
              $ref: '#/components/schemas/VoiceStatus'
            queuePosition:
              type: integer
    
    SubmitReviewRequest:
      type: object
      required:
        - action
      properties:
        action:
          type: string
          enum: [approve, edit, reject]
        humanTranscription:
          type: string
        humanExtraction:
          $ref: '#/components/schemas/VoiceExtraction'
        createJob:
          type: boolean
          default: true
        jobData:
          $ref: '#/components/schemas/CreateJobRequest'
    
    VoiceQueueResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/VoiceTranscript'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    VoiceStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            totalProcessed:
              type: integer
            autoCreated:
              type: integer
            humanReviewed:
              type: integer
            averageConfidence:
              type: number
              format: double
            accuracy:
              type: number
              format: double
            processingTime:
              type: object
              properties:
                avg:
                  type: integer
                p50:
                  type: integer
                p95:
                  type: integer
    
    # --------------------------------------------------------------------------
    # Admin Schemas
    # --------------------------------------------------------------------------
    
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        version:
          type: string
        uptime:
          type: integer
        checks:
          type: object
          properties:
            database:
              $ref: '#/components/schemas/HealthCheck'
            redis:
              $ref: '#/components/schemas/HealthCheck'
            afip:
              $ref: '#/components/schemas/HealthCheck'
            mercadopago:
              $ref: '#/components/schemas/HealthCheck'
            whatsapp:
              $ref: '#/components/schemas/HealthCheck'
    
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, error]
        latency:
          type: integer
        message:
          type: string
    
    QueueStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              pending:
                type: integer
              processing:
                type: integer
              completed:
                type: integer
              failed:
                type: integer
              dlqSize:
                type: integer
    
    DlqItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        queueName:
          type: string
        jobId:
          type: string
        jobData:
          type: object
        errorMessage:
          type: string
        errorStack:
          type: string
        attempts:
          type: integer
        failedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, retried, discarded, resolved]
    
    DlqListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/DlqItem'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    
    PanicStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            afip:
              $ref: '#/components/schemas/ServicePanicStatus'
            mercadopago:
              $ref: '#/components/schemas/ServicePanicStatus'
            whatsapp:
              $ref: '#/components/schemas/ServicePanicStatus'
            voiceai:
              $ref: '#/components/schemas/ServicePanicStatus'
    
    ServicePanicStatus:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, panic]
        consecutiveFailures:
          type: integer
        consecutiveSuccesses:
          type: integer
        errorRate:
          type: number
          format: double
        p99Latency:
          type: integer
        panicStartedAt:
          type: string
          format: date-time
        manualOverride:
          type: boolean
    
    SetPanicStatusRequest:
      type: object
      required:
        - status
        - reason
      properties:
        status:
          type: string
          enum: [ok, degraded, panic]
        reason:
          type: string
          minLength: 10
          maxLength: 500
    
    MetricsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            requests:
              type: object
              properties:
                total:
                  type: integer
                successful:
                  type: integer
                failed:
                  type: integer
                avgLatency:
                  type: number
            jobs:
              type: object
              properties:
                created:
                  type: integer
                completed:
                  type: integer
                cancelled:
                  type: integer
            invoices:
              type: object
              properties:
                created:
                  type: integer
                caeSuccess:
                  type: integer
                caeFailed:
                  type: integer
            payments:
              type: object
              properties:
                received:
                  type: integer
                totalAmount:
                  type: number
            voice:
              type: object
              properties:
                processed:
                  type: integer
                autoCreated:
                  type: integer
                humanReviewed:
                  type: integer

# ============================================================================
# PATHS - API ENDPOINTS
# ============================================================================

paths:
  # ==========================================================================
  # AUTH ENDPOINTS
  # ==========================================================================
  
  /auth/otp/send:
    post:
      tags:
        - Auth
      summary: Send OTP code
      description: |
        Sends a 6-digit OTP code to the specified phone number via WhatsApp.
        Rate limited to 10 requests/minute per IP.
        OTP expires in 5 minutes.
      operationId: sendOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOtpRequest'
            examples:
              argentina:
                summary: Argentine mobile number
                value:
                  phone: "+5491112345678"
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendOtpResponse'
        '400':
          description: Invalid phone number format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_phone:
                  value:
                    success: false
                    error:
                      code: "AUTH_001"
                      message: "Invalid phone number format. Must be Argentine number with country code."
                      field: "phone"
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                rate_limited:
                  value:
                    success: false
                    error:
                      code: "AUTH_002"
                      message: "Too many requests. Please wait before requesting another code."
                      details:
                        retryAfter: 60
  
  /auth/otp/verify:
    post:
      tags:
        - Auth
      summary: Verify OTP code
      description: |
        Verifies the OTP code and returns JWT tokens.
        Creates user account if phone not registered.
        Access token expires in 15 minutes, refresh token in 7 days.
      operationId: verifyOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpRequest'
            examples:
              valid:
                summary: Valid OTP verification
                value:
                  phone: "+5491112345678"
                  code: "123456"
      responses:
        '200':
          description: OTP verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyOtpResponse'
              examples:
                existing_user:
                  value:
                    success: true
                    data:
                      accessToken: "eyJhbGciOiJIUzI1NiIs..."
                      refreshToken: "dGhpcyBpcyBhIHJlZnJl..."
                      expiresIn: 900
                      user:
                        id: "550e8400-e29b-41d4-a716-446655440000"
                        orgId: "660e8400-e29b-41d4-a716-446655440000"
                        role: "owner"
                        fullName: "Juan González"
                        phone: "+5491112345678"
                      isNewUser: false
        '400':
          description: Invalid or expired OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_code:
                  value:
                    success: false
                    error:
                      code: "AUTH_003"
                      message: "Invalid OTP code"
                expired_code:
                  value:
                    success: false
                    error:
                      code: "AUTH_004"
                      message: "OTP code has expired. Please request a new one."
        '429':
          description: Too many failed attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  
  /auth/refresh:
    post:
      tags:
        - Auth
      summary: Refresh access token
      description: Exchange refresh token for new access and refresh tokens
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Tokens refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_token:
                  value:
                    success: false
                    error:
                      code: "AUTH_005"
                      message: "Invalid refresh token"
  
  /auth/logout:
    post:
      tags:
        - Auth
      summary: Logout user
      description: Invalidates all tokens for the current session
      operationId: logout
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /auth/me:
    get:
      tags:
        - Auth
      summary: Get current user
      description: Returns the currently authenticated user with organization details
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/UserMe'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================================================
  # ORGANIZATION ENDPOINTS
  # ==========================================================================
  
  /organization:
    get:
      tags:
        - Organization
      summary: Get organization details
      description: Returns the current user's organization with all settings
      operationId: getOrganization
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    patch:
      tags:
        - Organization
      summary: Update organization
      description: |
        Update organization settings.
        Requires `admin` or `owner` role.
      operationId: updateOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  
  /organization/afip:
    get:
      tags:
        - Organization
      summary: Get AFIP status
      description: Returns AFIP configuration status and certificate details
      operationId: getAfipStatus
      responses:
        '200':
          description: AFIP status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/AfipStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Organization
      summary: Upload AFIP certificate
      description: |
        Upload AFIP digital certificate for electronic invoicing.
        Requires `owner` role.
        Certificate and key are encrypted at rest.
      operationId: uploadAfipCert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadAfipCertRequest'
      responses:
        '200':
          description: Certificate uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/AfipStatus'
        '400':
          description: Invalid certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_cert:
                  value:
                    success: false
                    error:
                      code: "AFIP_001"
                      message: "Invalid certificate format or expired"
                wrong_cuit:
                  value:
                    success: false
                    error:
                      code: "AFIP_002"
                      message: "Certificate CUIT does not match organization CUIT"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    
    delete:
      tags:
        - Organization
      summary: Remove AFIP certificate
      description: |
        Remove AFIP certificate (disables electronic invoicing).
        Requires `owner` role.
      operationId: removeAfipCert
      responses:
        '200':
          description: Certificate removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  
  /organization/afip/test:
    post:
      tags:
        - Organization
      summary: Test AFIP connection
      description: Tests AFIP connection without creating real invoice
      operationId: testAfipConnection
      responses:
        '200':
          description: AFIP connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      afipOnline:
                        type: boolean
                      authValid:
                        type: boolean
                      certValid:
                        type: boolean
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /organization/mercadopago/connect:
    get:
      tags:
        - Organization
      summary: Get MP OAuth URL
      description: |
        Returns Mercado Pago OAuth authorization URL.
        Redirect user to this URL to authorize MP integration.
        Requires `owner` role.
      operationId: getMpConnectUrl
      responses:
        '200':
          description: OAuth URL generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpConnectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  
  /organization/mercadopago/callback:
    get:
      tags:
        - Organization
      summary: MP OAuth callback
      description: |
        Handles OAuth callback from Mercado Pago.
        Exchanges authorization code for access tokens.
        Internal endpoint called by MP redirect.
      operationId: mpOAuthCallback
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirects to success/error page
        '400':
          description: Invalid callback parameters
  
  /organization/mercadopago/disconnect:
    post:
      tags:
        - Organization
      summary: Disconnect Mercado Pago
      description: |
        Removes Mercado Pago integration.
        Requires `owner` role.
      operationId: disconnectMp
      responses:
        '200':
          description: Disconnected successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  
  /organization/whatsapp:
    get:
      tags:
        - Organization
      summary: Get WhatsApp status
      description: Returns WhatsApp Business API configuration status
      operationId: getWhatsappStatus
      responses:
        '200':
          description: WhatsApp status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      configured:
                        type: boolean
                      verified:
                        type: boolean
                      phoneNumber:
                        type: string
                      displayName:
                        type: string
                      qualityRating:
                        type: string
                      messagingLimit:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /organization/users:
    get:
      tags:
        - Organization
      summary: List organization users
      description: |
        Returns all users in the organization.
        Requires `admin` or `owner` role.
      operationId: listUsers
      parameters:
        - name: role
          in: query
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: isActive
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    
    post:
      tags:
        - Organization
      summary: Invite user
      description: |
        Invite a new user to the organization.
        Sends OTP to user's phone for registration.
        Requires `admin` or `owner` role.
      operationId: inviteUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - role
                - fullName
              properties:
                phone:
                  type: string
                  pattern: '^\+54[0-9]{10,11}$'
                role:
                  $ref: '#/components/schemas/UserRole'
                fullName:
                  type: string
                  minLength: 2
                  maxLength: 200
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: User invited
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  
  /organization/users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    
    get:
      tags:
        - Organization
      summary: Get user by ID
      operationId: getUser
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    patch:
      tags:
        - Organization
      summary: Update user
      description: |
        Update user details or role.
        Requires `admin` or `owner` role.
        Cannot change own role.
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                email:
                  type: string
                  format: email
                role:
                  $ref: '#/components/schemas/UserRole'
                isActive:
                  type: boolean
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    
    delete:
      tags:
        - Organization
      summary: Remove user
      description: |
        Remove user from organization.
        Requires `owner` role.
        Cannot remove self.
      operationId: removeUser
      responses:
        '200':
          description: User removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # CUSTOMER ENDPOINTS
  # ==========================================================================
  
  /customers:
    get:
      tags:
        - Customers
      summary: List customers
      description: |
        Returns paginated list of customers.
        Supports search by name, phone, or email.
        Filterable by tags, neighborhood, source.
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Search'
        - name: neighborhood
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
        - name: source
          in: query
          schema:
            $ref: '#/components/schemas/JobSource'
        - name: hasJobs
          in: query
          schema:
            type: boolean
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [name, createdAt, lastMessageAt, totalRevenue]
            default: createdAt
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Customer list
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Customers
      summary: Create customer
      description: Creates a new customer
      operationId: createCustomer
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            examples:
              consumer:
                summary: Final consumer
                value:
                  name: "María López"
                  phone: "+5491155555555"
                  address: "Av. Corrientes 1234"
                  neighborhood: "Palermo"
                  ivaCondition: "consumidor_final"
              business:
                summary: Business customer
                value:
                  name: "Empresa SRL"
                  phone: "+5491166666666"
                  email: "contacto@empresa.com"
                  docType: "cuit"
                  docNumber: "30-71234567-8"
                  ivaCondition: "responsable_inscripto"
                  address: "Av. Libertador 5000"
                  neighborhood: "Belgrano"
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Customer'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_phone:
                  value:
                    success: false
                    error:
                      code: "CUSTOMER_001"
                      message: "Invalid phone number format"
                      field: "phone"
                invalid_cuit:
                  value:
                    success: false
                    error:
                      code: "CUSTOMER_002"
                      message: "Invalid CUIT format or checksum"
                      field: "docNumber"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Customer with phone already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate:
                  value:
                    success: false
                    error:
                      code: "CUSTOMER_003"
                      message: "Customer with this phone number already exists"
                      details:
                        existingCustomerId: "550e8400-e29b-41d4-a716-446655440000"
  
  /customers/validate-cuit:
    post:
      tags:
        - Customers
      summary: Validate CUIT
      description: |
        Validates CUIT format and optionally queries AFIP padron
        to retrieve company information.
      operationId: validateCuit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCuitRequest'
      responses:
        '200':
          description: CUIT validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCuitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /customers/{customerId}:
    parameters:
      - $ref: '#/components/parameters/CustomerId'
    
    get:
      tags:
        - Customers
      summary: Get customer
      description: Returns customer details with job history
      operationId: getCustomer
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    patch:
      tags:
        - Customers
      summary: Update customer
      description: Updates customer information
      operationId: updateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    delete:
      tags:
        - Customers
      summary: Delete customer
      description: |
        Soft deletes a customer.
        Customer with active jobs cannot be deleted.
      operationId: deleteCustomer
      responses:
        '200':
          description: Customer deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Cannot delete customer with active jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  
  /customers/{customerId}/jobs:
    parameters:
      - $ref: '#/components/parameters/CustomerId'
    
    get:
      tags:
        - Customers
      summary: Get customer jobs
      description: Returns all jobs for a customer
      operationId: getCustomerJobs
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Customer jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  
  /customers/{customerId}/invoices:
    parameters:
      - $ref: '#/components/parameters/CustomerId'
    
    get:
      tags:
        - Customers
      summary: Get customer invoices
      description: Returns all invoices for a customer
      operationId: getCustomerInvoices
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/InvoiceStatus'
      responses:
        '200':
          description: Customer invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  
  /customers/merge:
    post:
      tags:
        - Customers
      summary: Merge customers
      description: |
        Merges two duplicate customer records.
        All jobs, invoices, and messages are moved to target customer.
        Requires `admin` or `owner` role.
      operationId: mergeCustomers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sourceId
                - targetId
              properties:
                sourceId:
                  type: string
                  format: uuid
                  description: Customer to be merged (will be deleted)
                targetId:
                  type: string
                  format: uuid
                  description: Customer to keep
      responses:
        '200':
          description: Customers merged
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # JOB ENDPOINTS
  # ==========================================================================
  
  /jobs:
    get:
      tags:
        - Jobs
      summary: List jobs
      description: |
        Returns paginated list of jobs.
        Technicians only see assigned jobs.
        Supports filtering by status, date range, assignee, customer.
      operationId: listJobs
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobStatus'
          style: form
          explode: false
          description: Filter by status(es)
        - name: priority
          in: query
          schema:
            $ref: '#/components/schemas/JobPriority'
        - name: jobType
          in: query
          schema:
            $ref: '#/components/schemas/JobType'
        - name: assignedTo
          in: query
          schema:
            type: string
            format: uuid
        - name: customerId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - name: unassigned
          in: query
          schema:
            type: boolean
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [scheduledDate, createdAt, priority]
            default: scheduledDate
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: Job list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Jobs
      summary: Create job
      description: Creates a new job
      operationId: createJob
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRequest'
            examples:
              basic:
                summary: Basic job
                value:
                  customerId: "550e8400-e29b-41d4-a716-446655440000"
                  title: "Pérdida en baño"
                  jobType: "plomeria"
                  priority: "normal"
                  scheduledDate: "2025-01-15"
                  scheduledTimeStart: "09:00"
                  scheduledTimeEnd: "11:00"
                  address: "Av. Corrientes 1234"
                  neighborhood: "Palermo"
              urgent:
                summary: Urgent job
                value:
                  customerId: "550e8400-e29b-41d4-a716-446655440000"
                  assignedTo: "660e8400-e29b-41d4-a716-446655440000"
                  title: "Pérdida de gas urgente"
                  description: "Cliente reporta olor a gas en cocina"
                  jobType: "gas"
                  priority: "urgent"
                  scheduledDate: "2025-01-10"
                  scheduledTimeStart: "14:00"
                  scheduledTimeEnd: "15:00"
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Job'
[...]
